body {
    background-image: url("../../images/roadTrip.jpg");
    background-repeat: no-repeat;
    background-position: bottom; 
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    overflow: scroll;
}

header {
    text-align: center;
    margin: auto;
}

.jumbotron {
    padding: 30px;
    background-color: rgba(0,0,0,0.6);
    color: #42DCA3;
    opacity: 0.9;
    border-radius: 5px;
}

#map-canvas {
    height: 350px;
    width: 100%;
    margin: 10px;
    padding: 0px;
    border-radius: 5px;
}

#zip-finder {
    background-color: #8a6d3b;
    margin-top: 25%;
    width: 80%;
    font-size: 20px;
}

#footer-space {
    text-align: center;
    display: inline-block;
    background: rgba(0,0,0,0.5);
    max-height: 70px;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #42DCA3;
}

.footerTag {
    color: #42DCA3;
    padding-right: 15px;
}

#mainHeader {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    margin: auto;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 100px;
    padding: 0px;
}

@media screen and (max-width: 1100px) {
    .jumbotron {
        padding: 1px;
    }

    #mainHeader {
        font-size: 50px;
        margin: 0px;
    }
    #zipHere {
        margin-top: 5px;
    }
    #zipCode {
        font-size: 10px;
    }
    #map-canvas {
        height: 200px;
    }
    .userInput {
        padding: 0px;
        margin: 0px;
    }
    #zipArrow {
        margin-top: 0px;
    }
    ul {
        margin: 0px;
    }
    .list-inline-item {
        font-size: 5px;
        width: 50%;
    }
}

.btn {
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    border-radius: 5px;
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background: rgba(0,0,0,0.5);
}

.btn-default {
    color: #42DCA3;
    border: 1px solid #42DCA3;
    background: rgba(0,0,0,0.5);
}

.list-inline-item {
    width: 100%;
}

.zipHere {
    margin-top: 35%;
    align-content: right;
}

ul {
    margin-top: 10%;
}

.userInput  {
    max-width: 75%;
    margin: auto;
}

#zipArrow {
    width: 15%;
    margin-top: 25%;
    color: #42DCA3;
    background-color: transparent;
}

.zipIt {
    margin-top: 9%;
}

#zipCode {
    color: #42DCA3;
    border: 2px solid #42DCA3;
    background: rgba(0,0,0,0.5);
    font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 20px;
    width: 35%;
    align-content: right;
    
}

::placeholder {
    color: #42DCA3;

}

input {
    padding: 5px;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

.content {
    position: fixed;
    top: 0;
    color: #f1f1f1;
    width: 100%;
    padding: 10px;
}